.contenedor-carta {
  display: flex;
  flex-direction: column;
  

}
.box {
  display: flex;
  flex-direction: row;
  
}

.column {
  display: flex;
  flex-direction: column;
  
}
.row {
  display: flex;
  flex-direction: row;  
  align-items: center;
}
.icon-img {
  width: 70px;
  max-height: 70%;
  object-fit: cover;
  flex-grow: 1;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.contenedor-main{
  display: flex;
  flex-direction: column;
}
